 * {
     margin: 0;
     padding: 0;
     box-sizing: border-box;
 }

body {
    overflow: hidden;
}

 .header-area {
     width: 100%;
     height: 100vh;
     background-image: linear-gradient(rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.9)), url(img/pexels-pixabay-262367.jpg);
     background-image: ;
     background-size: cover;
     background-position: right;
 }

 .header-text {
     width: 90%;
     color: #c4baba;
     padding: 100px 50px;
     font-size: 30px;
     font-family: 'Lato', sans-serif;
 }

 #main-nav {
     position: absolute;
     font-family: 'Lato', sans-serif;
     z-index: 1;
 }

 #main-nav li {
     margin: 55px 0;
     left: -550px;
     position: relative;
     display: none;
 }

 #main-nav a {
     color: #c4baba;
     text-decoration: none;
     font-size: 1.4em;
 }

 ul li {
     list-style: none;
     margin-top: 50px;
 }

 .toggle-button {
     position: absolute;
     top: 20px;
     left: 20px;
     font-size: 2em;
     z-index: 1;
 }

 .toggle-button a {
     color: #c4baba;
     text-decoration: none;
 }

 #bubble {
     width: 100%;
     height: 100%;
     opacity: 0.9;
     position: fixed;
     display: none;
     z-index: 1;
     background: rgba(0, 0, 0, 0.5);
 }

 .gap {
     color: #c4baba;
     margin-top: 100px;
     width: 200px;
 }

 .my-name {
     display: -webkit-flex;
     display: -ms-flex;
     display: flex;
     font-weight: 700;
     font-family: 'Yeon Sung', sans-serif;
     margin: 10px;
 }

 .name-box {
     margin-left: -20px;
     transform-style: preserve-3d;
     transform: perspective(1000px);
     padding: 10px;
     width: 100px;
     height: 80px;
     text-align: center;
     font-size: 60px;
     color: #ff7f00;
     text-shadow: 0px 0px 10px #FF0000;
 }

 .pop {
     transform: translateZ(50px);
 }

.social-links {
    width: 100px;
    height: 100px;
}

.social-links a {
    display: block;
    color: white;
    padding: 10px 0px 18px 30px;
    font-size: 15px;
}


 #container {
     margin-top: -10px;
     padding-left: 50px;
     color: #ff7f00;
     font-size: 25px;
     text-transform: uppercase;
     font-family: 'Lato', sans-serif;
     display: -webkit-flex;
     display: -ms-flex;
     display: flex;
 }

 #flip {
     margin: 7px 0 0 15px;
     width: 140px;
     height: 50px;
     overflow: hidden;
     margin-top: -3px;
 }

 #flip > div > div {
     color: #C4BABA;

     padding: 4px 10px;
     height: 45px;
     margin-bottom: 50px;
     display: inline-block;
 }

 #flip div:first-child {
     animation: show 8s linear infinite;
 }

 #flip div div {
     background: none;
 }

 #flip div:first-child div {
     background: none;
 }

 #flip div:last-child div {
     background: none;
 }

 @keyframes show {
     0% {
         margin-top: -270px;
     }

     5% {
         margin-top: -180px;
     }

     33% {
         margin-top: -180px;
     }

     38% {
         margin-top: -90px;
     }

     66% {
         margin-top: -90px;
     }

     71% {
         margin-top: 0px;
     }

     99.99% {
         margin-top: 0px;
     }

     100% {
         margin-top: -270px;
     }
 }

 @media only screen and (min-width:768px) {
     #container {
         margin-top: -10px;
         padding-left: 150px;
         color: #ff7f00;
         font-size: 36px;
         text-transform: uppercase;
         font-family: 'Lato', sans-serif;
         display: -webkit-flex;
         display: -ms-flex;
         display: flex;
     }
     
      #flip {
     margin: 7px 0 0 15px;
     width: 200px;
     height: 50px;
     overflow: hidden;
     margin-top: -3px;
 }
 }

 @media only screen and (min-width:768px) {
     .header-area {
         width: 100%;
         height: 100vh;
         background-image: linear-gradient(rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.9)), url(img/pexels-pixabay-262367.jpg);
         background-image: ;
         background-size: cover;
         background-position: center;
     }

     .header-text {
         width: 70%;
         color: #c4baba;
         padding: 100px 150px;
         font-size: 40px;
         font-family: 'Lato', sans-serif;
     }

     .my-name {
         display: -webkit-flex;
         display: -ms-flex;
         display: flex;
         font-weight: 700;
         font-family: 'Yeon Sung', sans-serif;
         margin: 10px;
     }

     .name-box {
         margin-left: -20px;
         transform-style: preserve-3d;
         transform: perspective(1000px);
         padding: 3px;
         width: 80px;
         height: 100px;
         text-align: center;
         font-size: 60px;
         color: #ff7f00;
         text-shadow: 0px 0px 10px #FF0000;
     }


 }
